@font-face {
    font-family: "icomoon";
    src: url(fonts/icomoon/fonts/icomoon1a44.eot?10si43);
    src: url(fonts/icomoon/fonts/icomoon1a44.eot?10si43#iefix)
            format("embedded-opentype"),
        url(fonts/icomoon/fonts/icomoon1a44.ttf?10si43) format("truetype"),
        url(fonts/icomoon/fonts/icomoon1a44.woff?10si43) format("woff"),
        url(fonts/icomoon/fonts/icomoon1a44.svg?10si43#icomoon) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Flaticon";
    src: url(fonts/flaticon/font/Flaticon.eot);
    src: url(fonts/flaticon/font/Flaticond41d.eot?#iefix)
            format("embedded-opentype"),
        url(fonts/flaticon/font/Flaticon.woff2) format("woff2"),
        url(fonts/flaticon/font/Flaticon.woff) format("woff"),
        url(fonts/flaticon/font/Flaticon.ttf) format("truetype"),
        url(fonts/flaticon/font/Flaticon.svg#Flaticon) format("svg");
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url(fonts/flaticon/font/Flaticon.svg#Flaticon) format("svg");
    }
}
.icon-twitter:before {
    content: "\f099";
}
.icon-instagram:before {
    content: "\f16d";
}
.page-item.active .page-link {
    background-color: var(--bs-dark);
    border: solid 1px var(--bs-dark);
}
.createModal {
    z-index: 3;
    margin: auto;
    border-radius: 20px;
    background: whitesmoke;
    border: solid 1px white;
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-search2:before {
    content: "\e8b6";
}
.icon-edit:before {
    content: "\f044";
}
.btn-dark {
    border-radius: 30px;
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(36 36 36);
}

.tns-outer {
    padding: 0 !important;
}
.tns-outer [hidden] {
    display: none !important;
}
.tns-outer [aria-controls],
.tns-outer [data-action] {
    cursor: pointer;
}
.tns-slider {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
}
.tns-slider > .tns-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tns-horizontal.tns-subpixel {
    white-space: nowrap;
}
.tns-horizontal.tns-subpixel > .tns-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}
.tns-horizontal.tns-no-subpixel:after {
    content: "";
    display: table;
    clear: both;
}
.tns-horizontal.tns-no-subpixel > .tns-item {
    float: left;
}
.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
    margin-right: -100%;
}
.tns-no-calc {
    position: relative;
    left: 0;
}
.tns-gallery {
    position: relative;
    left: 0;
    min-height: 1px;
}
.tns-gallery > .tns-item {
    position: absolute;
    left: -100%;
    -webkit-transition: transform 0s, opacity 0s;
    -moz-transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s;
}
.tns-gallery > .tns-slide-active {
    position: relative;
    left: auto !important;
}
.tns-gallery > .tns-moving {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}
.tns-autowidth {
    display: inline-block;
}
.tns-lazy-img {
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    opacity: 0.6;
}
.tns-lazy-img.tns-complete {
    opacity: 1;
}
.tns-ah {
    -webkit-transition: height 0s;
    -moz-transition: height 0s;
    transition: height 0s;
}
.tns-ovh {
    overflow: hidden;
}
.tns-visually-hidden {
    position: absolute;
    left: -10000em;
}
.tns-transparent {
    opacity: 0;
    visibility: hidden;
}
.tns-fadeIn {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 0;
}
.tns-normal,
.tns-fadeOut {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
}
.tns-vpfix {
    white-space: nowrap;
}
.tns-vpfix > div,
.tns-vpfix > li {
    display: inline-block;
}
.tns-t-subp2 {
    margin: 0 auto;
    width: 310px;
    position: relative;
    height: 10px;
    overflow: hidden;
}
.tns-t-ct {
    width: 2333.3333333%;
    width: -webkit-calc(100% * 70 / 3);
    width: -moz-calc(100% * 70 / 3);
    width: calc(100% * 70 / 3);
    position: absolute;
    right: 0;
}
.tns-t-ct:after {
    content: "";
    display: table;
    clear: both;
}
.tns-t-ct > div {
    width: 1.4285714%;
    width: -webkit-calc(100% / 70);
    width: -moz-calc(100% / 70);
    width: calc(100% / 70);
    height: 10px;
    float: left;
}
.glightbox-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999 !important;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-text-size-adjust: 100%;
    backface-visibility: hidden;
    outline: 0;
    overflow: hidden;
}
.glightbox-container .gcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
}
.glightbox-container .gslider {
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.glightbox-container .gslide {
    width: 100%;
    position: absolute;
    opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
}
.glightbox-container .gslide.current {
    opacity: 1;
    z-index: 99999;
    position: relative;
}
.glightbox-container .gslide.prev {
    opacity: 1;
    z-index: 9999;
}
.glightbox-container .gslide-inner-content {
    width: 100%;
}
.glightbox-container .ginner-container {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    height: 100vh;
}
.glightbox-container .ginner-container.gvideo-container {
    width: 100%;
}
.gslide iframe,
.gslide video {
    outline: 0 !important;
    border: none;
    min-height: 165px;
    -webkit-overflow-scrolling: touch;
    -ms-touch-action: auto;
    touch-action: auto;
}
.gslide-image {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.gslide-image img {
    max-height: 100vh;
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
    float: none;
    outline: 0;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 100vw;
    width: auto;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-touch-action: none;
    touch-action: none;
    margin: auto;
    min-width: 200px;
}
.gslide-image img.zoomable {
    position: relative;
}
.gslide-image img.dragging {
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
    -webkit-transition: none;
    transition: none;
}
.gslide-inline {
    background: #fff;
    text-align: left;
    max-height: calc(100vh - 40px);
    overflow: auto;
    max-width: 100%;
}
.gslide-inline .ginlined-content {
    padding: 20px;
    width: 100%;
}
.gslide-inline .dragging {
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
    -webkit-transition: none;
    transition: none;
}
.ginlined-content {
    overflow: auto;
    display: block !important;
    opacity: 1;
}
.gslide-media {
    display: block;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
}
.zoomed .gslide-media {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.gslide-description {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
}
.gslide-description.description-bottom,
.gslide-description.description-top {
    margin: 0 auto;
    width: 100%;
}
.gslide-description p {
    margin-bottom: 12px;
}
.gslide-description p:last-child {
    margin-bottom: 0;
}
.zoomed .gslide-description {
    display: none;
}
.glightbox-mobile .glightbox-container .gslide-description {
    height: auto !important;
    width: 100%;
    background: 0 0;
    position: absolute;
    bottom: 15px;
    padding: 19px 11px;
    max-width: 100vw !important;
    -webkit-box-ordinal-group: 3 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
    max-height: 78vh;
    overflow: auto !important;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0)),
        to(rgba(0, 0, 0, 0.75))
    );
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0.75) 100%
    );
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    padding-bottom: 50px;
}
.glightbox-mobile .glightbox-container .gslide-title {
    color: #fff;
    font-size: 1em;
}
.glightbox-mobile .glightbox-container .gslide-desc {
    color: #a1a1a1;
}
.glightbox-mobile .glightbox-container .gslide-desc a {
    color: #fff;
    font-weight: 700;
}
.glightbox-mobile .glightbox-container .gslide-desc * {
    color: inherit;
}
.glightbox-mobile .glightbox-container .gslide-desc string {
    color: #fff;
}
.glightbox-mobile .glightbox-container .gslide-desc .desc-more {
    color: #fff;
    opacity: 0.4;
}
.gdesc-open .gslide-media {
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 0.4;
}
.gdesc-open .gdesc-inner {
    padding-bottom: 30px;
}
.gdesc-closed .gslide-media {
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 1;
}
.greset {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.gabsolute {
    position: absolute;
}
.glightbox-desc {
    display: none !important;
}
.glightbox-open {
    overflow: hidden;
}
.gloader {
    height: 25px;
    width: 25px;
    -webkit-animation: lightboxLoader 0.8s infinite linear;
    animation: lightboxLoader 0.8s infinite linear;
    border: 2px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 9999;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 47%;
}
.goverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    will-change: opacity;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: none;
    box-shadow: 0 1px 1px gray inset, 0 0 5px gray;
    outline: none;
}
.glightbox-mobile .goverlay {
    background: #000;
}
.gclose,
.gnext,
.gprev {
    background-repeat: no-repeat;
    z-index: 99999;
    cursor: pointer;
    width: 26px;
    height: 44px;
    display: block;
    background-position: 0 0;
    border: none;
}
.gclose svg,
.gnext svg,
.gprev svg {
    display: block;
    width: 100%;
    height: auto;
}
.gclose.disabled,
.gnext.disabled,
.gprev.disabled {
    opacity: 0.1;
}

:root {
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: rgb(36 36 36);
    --bs-font-sans-serif: "Poppins", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
    );
}
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

[hidden] {
    display: none !important;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}
.blockquote > :last-child {
    margin-bottom: 0;
}

.collapse:not(.show) {
    display: none;
}
.collapsing {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
    .collapsing {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.dropup,
.dropend,
.dropdown,
.dropstart {
    position: relative;
}
.dropdown-toggle {
    white-space: nowrap;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty::after {
    margin-left: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 147px;
    padding: 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.dropdown-menu[style] {
    right: auto !important;
}
.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 0.125rem;
}
.dropup .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
}
.dropup .dropdown-toggle:empty::after {
    margin-left: 0;
}
.dropend .dropdown-menu {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: 0.125rem;
}
.dropend .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}
.dropend .dropdown-toggle:empty::after {
    margin-left: 0;
}
.dropend .dropdown-toggle::after {
    vertical-align: 0;
}
.dropstart .dropdown-menu {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 0;
    margin-right: 0.125rem;
}
.dropstart .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
}
.dropstart .dropdown-toggle::after {
    display: none;
}
.dropstart .dropdown-toggle::before {
    display: inline-block;
    margin-right: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0.3em solid;
    border-bottom: 0.3em solid transparent;
}
.dropstart .dropdown-toggle:empty::after {
    margin-left: 0;
}
.dropstart .dropdown-toggle::before {
    vertical-align: 0;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover,
.dropdown-item:focus {
    color: #1e2125 !important;
    background-color: whitesmoke;
}
.dropdown-item.active,
.dropdown-item:active {
    color: #1e2125 !important;
    background-color: whitesmoke;
    text-decoration: none;
}
.profile-dropdown-item:hover,
.profile-dropdown-item:focus {
    color: #1e2125 !important;
    background-color: black;
}
.profile-dropdown-item.active,
.profile-dropdown-item:active {
    color: #1e2125 !important;
    background-color: black;
    text-decoration: none;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
}
.dropdown-menu.show {
    display: block;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    -webkit-transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .nav-link {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}
.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navbar > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: inherit;
    flex-wrap: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav .dropdown-menu {
    position: static;
}
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
@keyframes progress-bar-stripes {
    0% {
        background-position-x: 1rem;
    }
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
.list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}
.list-group-item.disabled,
.list-group-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: rgb(36 36 36);
    border-color: rgb(36 36 36);
}
.list-group-item + .list-group-item {
    border-top-width: 0;
}
.list-group-item + .list-group-item.active {
    margin-top: -1px;
    border-top-width: 1px;
}
.toast {
    width: 350px;
    max-width: 100%;
    font-size: 0.875rem;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.toast:not(.showing):not(.show) {
    opacity: 0;
}
.toast.hide {
    display: none;
}
.modal-open {
    overflow: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.modal.show .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.modal.modal-static .modal-dialog {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.show {
    opacity: 0.5;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    opacity: 0;
}
.tooltip.show {
    opacity: 0.9;
}
.tooltip .tooltip-arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
}
.tooltip .tooltip-arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}
.tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 0.25rem;
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: block;
    max-width: 276px;
    font-family: var(--bs-font-sans-serif);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
}
.popover .popover-arrow {
    position: absolute;
    display: block;
    width: 1rem;
    height: 0.5rem;
    margin: 0 0.3rem;
}
.popover .popover-arrow::before,
.popover .popover-arrow::after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
}
.popover-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    background-color: #f0f0f0;
    border-bottom: 1px solid #d8d8d8;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}
.popover-header:empty {
    display: none;
}
.popover-body {
    padding: 1rem 1rem;
    color: #212529;
}
.carousel {
    position: relative;
}
.carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .carousel-item {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.coarousel_control {
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel-indicators li {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    -webkit-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
    .carousel-indicators li {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.carousel-indicators .active {
    opacity: 1;
}

.logo {
    font-size: 20px;
    color: #000 !important;
    font-weight: 700;
    top: 6px;
    position: relative;
}
.logo:hover {
    color: rgba(0, 0, 0, 0.85);
}
.site-nav {
    z-index: 9;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.site-nav {
    padding-top: 20px;
    padding-bottom: 20px;
}
.site-nav h1,
.site-nav .h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}
.site-nav .site-navigation .site-menu {
    margin-bottom: 0;
    position: fixed;
    background: var(--bs-dark);
    right: 0;
    font-weight: 800;
    font-size: 20px;
    top: 0;
    box-shadow: -10px 0 20px -10px rgb(0 0 0 / 10%);
    height: 100%;
    z-index: 2;
    padding: 50px 100px 0 15px;
}
.site-nav .site-navigation .site-menu > li {
    display: block;
}
.site-nav .site-navigation .site-menu > li > a {
    font-size: 14px;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: white;
}
.site-nav .site-navigation .site-menu > li > a:hover {
    color: white;
}
.site-nav .site-navigation .site-menu > li.active > a {
    color: white;
}
.site-nav .site-navigation .site-menu .has-children {
    position: relative;
}
.site-nav .site-navigation .site-menu .has-children > a {
    position: relative;
    padding-right: 20px;
}
.site-nav .site-navigation .site-menu .has-children > a:before {
    position: absolute;
    content: "\e313";
    font-size: 14px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "icomoon";
}
.site-nav .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    z-index: 999;
    position: absolute;
    text-align: left;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin-top: 20px;
    margin-left: 0;
    background: #fff;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}
.site-nav .site-navigation .site-menu .has-children .dropdown a {
    font-size: 14px;
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #000;
}
.site-nav .site-navigation .site-menu .has-children .dropdown .active a {
    color: rgb(36 36 36) !important;
}
.site-nav .site-navigation .site-menu .has-children .dropdown > li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 180px;
}
.site-nav .site-navigation .site-menu .has-children .dropdown > li > a {
    padding: 5px 20px;
    display: block;
}
.site-nav .site-navigation .site-menu .has-children .dropdown > li > a:hover {
    color: rgb(36 36 36);
}
.site-nav
    .site-navigation
    .site-menu
    .has-children
    .dropdown
    > li.has-children
    > a:before {
    content: "\e315";
    right: 20px;
}
.site-nav
    .site-navigation
    .site-menu
    .has-children
    .dropdown
    > li.has-children
    > .dropdown,
.site-nav
    .site-navigation
    .site-menu
    .has-children
    .dropdown
    > li.has-children
    > ul {
    left: 100%;
    top: 0;
}
.site-nav
    .site-navigation
    .site-menu
    .has-children
    .dropdown
    > li.has-children
    > .dropdown
    li
    a:hover,
.site-nav
    .site-navigation
    .site-menu
    .has-children
    .dropdown
    > li.has-children
    > ul
    li
    a:hover {
    color: rgb(36 36 36);
}
.site-nav
    .site-navigation
    .site-menu
    .has-children
    .dropdown
    > li.has-children:hover
    > a,
.site-nav
    .site-navigation
    .site-menu
    .has-children
    .dropdown
    > li.has-children:active
    > a,
.site-nav
    .site-navigation
    .site-menu
    .has-children
    .dropdown
    > li.has-children:focus
    > a {
    color: rgb(36 36 36);
}
.site-nav .site-navigation .site-menu .has-children:hover > a,
.site-nav .site-navigation .site-menu .has-children:focus > a,
.site-nav .site-navigation .site-menu .has-children:active > a {
    color: white;
}
.site-nav .site-navigation .site-menu .has-children:hover,
.site-nav .site-navigation .site-menu .has-children:focus,
.site-nav .site-navigation .site-menu .has-children:active {
    cursor: pointer;
}
.site-nav .site-navigation .site-menu .has-children:hover > .dropdown,
.site-nav .site-navigation .site-menu .has-children:focus > .dropdown,
.site-nav .site-navigation .site-menu .has-children:active > .dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}
.site-mobile-menu-close {
    display: block;
    position: absolute;
    height: 30px;
    width: 20px;
    z-index: 99;
    cursor: pointer;
    top: 25px;
    right: 17px;
}
.site-mobile-menu-close > span {
    cursor: pointer;
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
}

.site-mobile-menu-close > span:before,
.site-mobile-menu-close > span:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 24px;

    background: white;
}
.icon-close:before {
    content: "\f00d";
}
.site-mobile-menu-close > span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.site-mobile-menu-close > span:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
}
.offcanvas-menu .site-mobile-menu {
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.site-mobile-menu .site-nav-wrap a {
    padding: 5px 20px;
    display: block;
    position: relative;
    color: #000;
}
.site-mobile-menu .site-nav-wrap a:hover {
    color: rgb(36 36 36);
}
.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
}
.site-mobile-menu .site-nav-wrap li.active > a {
    color: rgb(36 36 36);
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 14px;
    z-index: 20;
    font-family: "icomoon";
    content: "\e313";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
    padding-left: 20px;
    font-size: 14px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
    display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
    padding-left: 40px;
    font-size: 14px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
    padding: 0;
    margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
    display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
    font-size: 14px;
    padding-left: 60px;
}
.burger {
    width: 28px;
    height: 32px;
    cursor: pointer;
    position: relative;
}
.burger:before,
.burger span,
.burger:after {
    width: 100%;
    height: 3px;
    display: block;
    background: rgb(36 36 36);
    border-radius: 2px;
    position: absolute;
    opacity: 1;
}
.burger:before,
.burger:after {
    -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1),
        -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1),
        -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
    transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
    transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1),
        -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
    content: "";
}
.burger:before {
    top: 7px;
}
.burger span {
    top: 15px;
}
.burger:after {
    top: 23px;
}
.burger:hover:before {
    top: 7px;
}
.burger:hover:after {
    top: 23px;
}
.burger.active span {
    opacity: 0;
}
.burger.active:before,
.burger.active:after {
    top: 40%;
}
.burger.active:before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
}
.burger.active:after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
}
.burger:focus {
    outline: none;
}
body,
html {
    overflow-x: hidden;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #888;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
.logo {
    font-family: "Poppins", sans-serif;
    color: rgb(36 36 36);
}
a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    text-decoration: none;
}

#overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7100;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loader {
    z-index: 7700;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.section .heading {
    font-size: 40px;
    font-weight: 700;
}
@media (max-width: 991.98px) {
    .section .heading {
        font-size: 30px;
    }
}
.post-entry {
    position: relative;
}
.post-entry img {
    border-radius: 7px;
}
.post-entry .heading a {
    color: var(--bs-dark);
}
.post-entry .thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 440px;
    flex: 0 0 569px;
}
.post-entry .date {
    color: var(--bs-dark) F;
}
.caorousel-control-prev,
.caorousel-control-next {
    bottom: -478px !important;
}
.carousel-control-next {
    right: 0 !important;
}
.post-entry .post-author .author-pic {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35px;
    flex: 0 0 35px;
    margin-right: 10px;
}
.post-entry .post-author .author-pic img {
    max-width: 100%;
    border-radius: 50%;
}
.post-entry .post-author strong {
    font-weight: 400;
    color: var(--bs-dark);
    font-weight: 700;
    display: block;
    line-height: 1;
}
.post-entry .post-author span {
    font-size: 13px;
    color: #888;
}
.post-entry .post-meta .category {
    color: var(--bs-dark);
    font-weight: 600;
}
.post-entry.small-post-entry-v .thumbnail {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    margin-bottom: 30px;
}
.post-entry.small-post-entry-v .heading {
    font-size: 18px;
}
.post-entry.small-horizontal .thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 332px;
    flex: 0 0 332px;
}
.post-entry.small-horizontal .heading {
    font-size: 20px;
}
.post-entry.xsmall-horizontal .thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 212px;
    flex: 0 0 212px;
}
.post-entry.xsmall-horizontal .heading {
    font-size: 20px;
}
.search-form {
    position: relative;
    margin: 0;
}
.search-form [class^="icon-"] {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #ccc;
    font-size: 16px;
}
.search-form input[type="search"] {
    padding-left: 40px;
    height: 38px;
    font-size: 14px;
}
.social {
    top: 5px;
    position: relative;
    margin: 0;
}
.social li {
    display: inline-block;
}
.social li a {
    color: #000;
    display: inline-block;
    padding: 5px 10px;
}
.most-popular-slider-wrap,
.posts-slide-wrap {
    position: relative;
}
.most-popular-slider-wrap .tns-controls,
.posts-slide-wrap .tns-controls {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
}
.most-popular-slider-wrap .tns-controls button,
.posts-slide-wrap .tns-controls button {
    background: none;
    border: none;
}
.most-popular-slider-wrap #most-popular-nav,
.posts-slide-wrap #most-popular-nav {
    position: absolute;
    bottom: -80px;
    right: 20px;
}
.most-popular-slider-wrap #most-popular-nav span,
.posts-slide-wrap #most-popular-nav span {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
}
.most-popular-slider-wrap #most-popular-nav span[aria-disabled="true"],
.posts-slide-wrap #most-popular-nav span[aria-disabled="true"] {
    opacity: 0.5;
}
.most-popular-slider-wrap .tns-nav,
.posts-slide-wrap .tns-nav {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
    bottom: -70px;
}
.most-popular-slider-wrap .tns-nav button,
.posts-slide-wrap .tns-nav button {
    background: none;
    border: none;
    display: inline;
    margin: 2px;
    height: 15px;
}
.most-popular-slider-wrap .tns-nav button:active,
.most-popular-slider-wrap .tns-nav button:focus,
.posts-slide-wrap .tns-nav button:active,
.posts-slide-wrap .tns-nav button:focus {
    outline: none;
}
.most-popular-slider-wrap .tns-nav button:before,
.posts-slide-wrap .tns-nav button:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    border-radius: 50%;
}
.most-popular-slider-wrap .tns-nav button.tns-nav-active:before,
.posts-slide-wrap .tns-nav button.tns-nav-active:before {
    background-color: rgb(36 36 36);
}
.spinner_add_post {
    height: 15px;
    width: 15px;
    border: 3px solid;
    border-right-color: transparent;
}
a {
    color: var(--bs-dark);
}
.close_add_post__icon {
    float: right;
    font-size: 28px;
    /* margin: 10px; */
    padding: 15px;
    color: #242424;
}
.post-section {
    font-size: 18px;
    line-height: 1.5;
}
.post-section .heading {
    font-weight: 700;
    font-size: 34px;
}
.post-section .author-pic {
    width: 35px;
    height: 35px;
}
.icon-pinterest:before {
    content: "\f0d2";
}
.icon-linkedin:before {
    content: "\f0e1";
}
.singlepost_ship {
    font-size: 20px;
    position: absolute;
    bottom: 29px;
    color: white;
    left: 5px;
    background: #000000bd;
    padding-inline: 12px;
    border-left: hidden;
    border-radius: 23px;
}
.post-section blockquote {
    font-family: "Georgia", serif;
    font-style: italic;
    padding-left: 40px;
    border-left: 2px solid #000;
}
.posts-slide-wrap {
    position: relative;
}
.posts-slide-wrap .tns-nav {
    bottom: -50px;
}
.sec-subscribe .form-control {
    border-radius: 7px;
}
.custom-pagination a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    border-radius: 50%;
    background: rgba(247, 153, 24, 0.1);
    color: rgb(36 36 36);
    text-align: center;
}
.custom-pagination a:hover,
.custom-pagination a.active {
    background: rgb(36 36 36);
    color: #fff;
}
.site-footer {
    font-size: 14px;
    color: #888;
    padding: 70px 0;
}
.site-footer a {
    color: #777;
    position: relative;
    display: inline-block;
}
.site-footer a:before {
    position: absolute;
    left: 0;
    right: 0;
    content: "";
    background: rgba(247, 153, 24, 0.1);
    height: 20%;
    width: 100%;
    bottom: 0;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.site-footer a:hover {
    color: #000;
}
.site-footer a:hover:before {
    background: rgb(36 36 36);
}
.site-footer .btn:before {
    display: none;
}
.site-footer .widget {
    margin-bottom: 40px;
    display: block;
}
.site-footer .widget h3,
.site-footer .widget .h3 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #10495c;
}
.site-footer .social li {
    display: inline-block;
}
.site-footer .social li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    background: #ccc;
    border-radius: 40%;
}
.site-footer .social li a:before {
    display: none;
}
.site-footer .social li a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.site-footer .social li a:hover {
    background: rgb(36 36 36);
    color: #fff;
}
